@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  --ds-auro-dialog-background-color: var(--ds-color-background-primary-100-default, #{$ds-color-background-primary-100-default});
  --ds-auro-dialog-boxshadow-color-one: rgb(0 0 0 / 0.12);
  --ds-auro-dialog-boxshadow-color-two: rgb(0 0 0 / 0.1);
  --ds-auro-dialog-overlay-modal-background-color: rgb(0 0 0 / 0.5);
  --ds-auro-dialog-overlay-open-background-color: rgb(0 0 0 / 0.2);
  --ds-auro-dialog-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
}
