@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  --ds-auro-dialog-container-color: var(--ds-color-container-primary-default, #{$ds-color-container-primary-default});
  --ds-auro-dialog-boxshadow-color: var(--ds-elevation-300, #{$ds-elevation-300});
  --ds-auro-dialog-overlay-modal-background-color: var(--ds-color-background-scrimmed-default, #{$ds-color-background-scrimmed-default});
  --ds-auro-dialog-overlay-open-background-color: var(--ds-color-background-scrimmed-default, #{$ds-color-background-scrimmed-default});
  --ds-auro-dialog-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
}
