@import "./../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";
@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-dialog-container-color: var(--ds-basic-color-surface-default, #{$ds-basic-color-surface-default});
  --ds-auro-dialog-boxshadow-color: var(--ds-elevation-300, #{$ds-elevation-300});
  --ds-auro-dialog-overlay-modal-background-color: var(--ds-advanced-color-shared-scrim, #{$ds-advanced-color-shared-scrim});
  --ds-auro-dialog-overlay-open-background-color: var(--ds-advanced-color-shared-scrim, #{$ds-advanced-color-shared-scrim});
  --ds-auro-dialog-text-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
}
